@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


div {
  /*border: 1px solid black;*/
  /*use this for to understand divs*/
}

#header {
  height: 130px;

}

#c1 {
  float: left;

}

#c2 {
  float: right;

}

#c3 {
  float: left;

}

#c4 {
  float: right;
  margin-top: 30px;
  margin-right: 30px;

}

#navbar hr {
  padding-top: 100px;
}


#logo {
  width: 450px;
  height: 140px;
  margin-left: 10px;
}

#profile_pic {
  width: 80px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 30px;

  margin-right: 20px;
}

#profile_details {

  padding-top: 30px;
  margin-left: px;
}

body {

  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {

  text-align: right;
}

.line {

  border: 1px solid black;

}



#ul_list_1 {
  list-style-type: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #0650A7;
  border-radius: 5px;
}

#ul_list_1 li {

  display: inline;

}

#ul_list_1 li a {
  margin: 30px;
  border-radius: 10px;
  width: 200px;
  color: white;
  background-color: #2387D5;
}

#ul_list_1 li a:hover {

  color: rgb(58, 38, 236);
}

.table {

  margin: auto;
}

#footer a {
  margin-right: 5px;
  display: flex;
  float: right;

}

#footer img {
  width: 140px;
  margin-right: 1000px;
  display: flex;
  float: left;
}

#body1{
  background-image: linear-gradient(to right , #4EAFF3 , white );
  padding: 10px 10px 80px 30px;
  border: 1px solid #064371;
  border-radius: 17px ;
  height: 300px;
  width: 1000px;
  margin: auto;
}

#body1 h1{
  color: #0650A7;
  font-size: 70px;
  margin-left: 10px;
  text-shadow: 1px 1px #064371 ;
}

#body1 button{
  font-size: 30px;
  border-radius: 17px;
  border: 5px solid #064371 ;
  text-align: center;
  width: 150px;
  height: 55px;
  margin-left: 10px;
  
}

#body1 #slide_show{
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  margin: 30px 20px 30px 20px;
}
#body1 #slide_show .slide{
  display: noe;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  display: n;
}
#body1 #slide-show .slide_btn{
  z-index: 9;
  margin: 500px;
}
.ab{
    font-size: 18px;
}
#td{
  padding:30px 60px 30px 60px;
  text-decoration:none;
  font-size:22px;
  font-style:none;
  text-align:center;
}

.container {
  position: relative;
  color: black;
  font-weight: bold;
  font-family:Tahoma, Verdana, sans-serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size:38px;
}

